.navbar-lewagon {
  justify-content: space-between;
  background: rgb(244, 243, 243);
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

